/*Isso é um comentario*/
#container{
	/*background-color: blue; */
	width: 60%; /*largura*/
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align:center;
}
#txt_name{
	border-width: 2px;
	width: 90%; /*largura*/
}
#txt_codigo{
	border-width: 2px;
	width: 20%; /*largura*/
}
#txt_email{
	border-width: 2px;
	width: 70%; /*largura*/
}


#txt_centroum{
	border-width: 1px;
	/*width: 90%; /*largura*/
	/*text-align:left;*/
}
#txt_{
	border-width: 2px;
	width: 90%; /*largura*/
	text-align:left;
}
#txt_orientador{
	border-width: 1px;
	width: 90%; /*largura*/
	text-align:left;
}
#txt_motivo{
	border-width: 2px;
	width: 50%; /*largura*/
	height: 10% /*Altura*/
	
}


label{
	display: inline;
	float: left;
	margin-top: 5px;
}

.col-md-3{
	padding: 0px;
}
.col-md-9{
	padding: 0px;
}
input#txt_timein{
	display: inline;
	width: 100px;

}